@model Post

@{
	var post = Model;
}

<h2>@post.NomePizza</h2>
<h5>@post.Categoria!.NomeCategoria</h5>
<div class="container">
		<div class="image">
			<img class="post-link-image" src="@post.Immagine">
		</div>
		<div>
			<p>
				@post.Ingredienti
			</p>
		</div>
		<div>
			<p>
            Condimenti:
			</p>
			
			@foreach (var condiment in post.Condiments!)
			{
				<span>@condiment.CondimentName</span>
			}			
			
		</div>
		<div>
			<p>
				@post.Prezzo€
			</p>
		</div>
		
</div>